body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contButton{
    width:100%;
    margin-top: 20px;

}
.cardmedia{

    align-items: center;
   margin-bottom: 50px;
}
.cardmedia:hover{
scale: 1.04;
}
.contactimage{
    margin-bottom: 50px;
}
.formCont{
    height: 480px;
   width: 600px;
   padding:30px;
    color:green;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(80, 170, 183, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(55, 104, 150, 0.09) 0px -3px 5px;
   margin-right: 30px;
}

.iframe{
     
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(80, 170, 183, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(55, 104, 150, 0.09) 0px -3px 5px;
}
.form{
     /* width: 200px; */
    margin-top: 30px;
}




.contMainDiv{
    display: flex;
    margin:25px;
   margin-bottom: -160px;
    gap:15px

}
.contcontactDiv{
    width:40%;
    height: 450px;
    background-color: #ffffff;
   border-radius: 10px;
  
/* border:2px solid red; */
box-shadow: rgba(22, 22, 58, 0.25) 0px 2px 5px -1px, rgba(17, 41, 82, 0.3) 0px 1px 3px -1px;
padding: 35px 20px 0px 20px;
text-align: center;
}

.contcontactDiv:hover{
    transform: scale(1.04);
}

.contmidContainer{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgb(122,206,250,1) 0px 30px 60px -12px inset,rgb(122,206,250,1) 0px 18px 36px ,rgb(122,206,250,1) 0px 30px 60px -12px inset,rgb(122,206,250,1) 0px 18px 36px ;

    margin: 0px 15px;
}



.downContainercon{
    margin-top: 40px;
}



@media only screen and (max-width: 1000px) {
    .containctdiv1{
        flex-direction: column;
    }
    .contMainDiv{
        flex-direction: column;
    }
    .formCont{
        width:60%;
       margin-left: 40px;
    }
    .downContainercon{
        flex-direction: column;
    }
    #iframe1{
        width:300px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    
    .containctdiv1{
        flex-direction: column;
    }
    .contMainDiv{
        flex-direction: column;
    }
    .contcontactDiv{
        width: 85%;
    }
    .formCont{
        width:60%;
        margin-left: 40px;
    }
    .downContainercon{
        flex-direction: column;
    }
    #iframe
    {
        width:300px;
    }
    }