
.MapMainDiv{
    display: flex;
    margin:35px;
   margin-bottom: -150px;
    

}
.MapcontactDiv{
    width:50%;
    height: 400px;
    background-color: #caded3;
   
/* border:2px solid red; */
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
padding: 20px;
text-align: center;
}


@media only screen and (max-width: 1000px) {
    .MapMainDiv{
        flex-direction: column;
    
    }
    .MapcontactDiv{
        width:60%;
        height: 400px;

        margin-bottom: 160px;
    /* border:2px solid red; */
    /* padding: 20px; */
    }
  }
  
  @media only screen and (max-width: 600px) {
    .MapMainDiv{
        flex-direction: column;
      
    
    }
    .MapcontactDiv{
        width:85%;
        height: 400px;
        margin-top: 40px;
    }
    }