.imagecartop {
    display: block;
    width: 100%;
    /* border-radius: 20px; */
    /* height: auto; */
  }
  
  .overlaytop {

    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    /* border-radius: 20px; */

    /* position: absolute; */
    /* top: 30px; */
    /* bottom: 0; */
    /* left: 0;
    right: 0; */
    
    height: 120%;
    width: 120%;
    opacity: 0;
    transition: .5s ease;
   
  }
  
  .cardtop .overlaytop {
    opacity: 1;
  }
  
  .texttop {
    color: rgb(250, 243, 243);
    font-size: 20px;
    padding: 30px;
    font-family: cursive;
    font-weight:bolder;
    position: absolute;
    border: 7px solid rgb(184, 195, 213);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }